/* ==================================================================
    VARIABLES
================================================================== */

:root {
  --background-color: #ffffff;
  --quote-background: #ffffff;
  --quote-color: #555555;
  --quote-border-color: #eeeeee;
  --blue-body: #fafafa;
  --blue-head: #d9edf7;
  --blue-highlight: #4c9cf1;
  --red-body: #ffe6e6;
  --red-highlight: #990000;
  --green-body: #f4fff9;
  --green-highlight: #319b62;
  --gray-body: #fafafa;
  --gray-highlight: #4d4d4d;
  --output-background: hsl(0, 0%, 98%);
  --small: 14px;
  --normal: 19px;
  --text-color: hsv(0, 0%, 20%);
}

/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html {
  font-size: var(--normal);
  color: var(--text-color);
}

/* ==================================================================
    BASIC GRID FOR PROFILE PIC
================================================================== */

.franklin-content .row {
  display: block;
}

.franklin-content .left {
  float: left;
  margin-right: 15px;
}

.franklin-content .right {
  float: right;
}

.franklin-content .container img {
  padding-left: 0;
  border-radius: 10px;
}

.franklin-content .footnote {
  position: relative;
  top: -0.5em;
  font-size: 70%;
}

/* ==================================================================
    FOOT / COPYRIGHT
================================================================== */

.franklin-content .page-foot a {
  text-decoration: none;
  color: #a6a2a0;
  text-decoration: underline;
}

.page-foot {
  font-size: 80%;
  font-family: Arial, serif;
  color: #a6a2a0;
  text-align: center;
  margin-top: 6em;
  /*border-top: 1px solid lightgrey;*/
  padding-top: 2em;
  margin-bottom: 4em;
}

/* ==================================================================
    TEXT GEOMETRY
================================================================== */

.franklin-content {
  position: relative;
}

/* On wide screens, fix content width to a max value. */
@media (min-width: 940px) {
  .franklin-content {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* On narrow device, reduce margins. */
@media (max-width: 480px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* ==================================================================
    TITLES
================================================================== */

.franklin-content h1 {
  font-size: 30px;
}
.franklin-content h2 {
  font-size: 26px;
}
.franklin-content h3 {
  font-size: 22px;
}

.franklin-content h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.franklin-content h1 {
  text-align: center;
  padding-bottom: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.franklin-content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid lightgrey;
  margin-top: 2em;
  margin-bottom: 1em;
}

.franklin-content h1 a {
  color: inherit;
}
.franklin-content h1 a:hover {
  text-decoration: none;
}
.franklin-content h2 a {
  color: inherit;
}
.franklin-content h2 a:hover {
  text-decoration: none;
}
.franklin-content h3 a {
  color: inherit;
}
.franklin-content h3 a:hover {
  text-decoration: none;
}
.franklin-content h4 a {
  color: inherit;
}
.franklin-content h4 a:hover {
  text-decoration: none;
}
.franklin-content h5 a {
  color: inherit;
}
.franklin-content h5 a:hover {
  text-decoration: none;
}
.franklin-content h6 a {
  color: inherit;
}
.franklin-content h6 a:hover {
  text-decoration: none;
}

/* ==================================================================
    TABLES, LISTS, BLOCKQUOTES
================================================================== */

.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

/* removes uneeded space */

.franklin-toc ol ol {
  list-style-type: lower-alpha;
  list-style-position: outside;
}

.franklin-content th,
td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid black;
}

.franklin-content blockquote {
  background: var(--quote-background);
  color: var(--quote-color);
  border-left: 5px solid var(--quote-border-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

pre,
blockquote,
.signature {
  background: var(--block1-background);
  padding: 1em;
}

blockquote,
.signature {
  font-style: italic;
}

div.alpha > ol {
  list-style-type: lower-alpha;
  list-style-position: outside;
}

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

/* Spacing between bullet points. */
.franklin-content li p {
  margin: 5px 0;
}

.franklin-content a:hover {
  text-decoration: underline;
}

/* ==================================================================
    PARAGRAPH BEHAVIOR
================================================================== */
p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-indent: 0em;
}

div > p:first-child {
  margin-block-start: 0em;
  text-indent: 0em;
}
div > p:last-child {
  margin-block-end: 0em;
}

/* PARAGRAPHS FOLLOWING MATH */
span + p { text-indent: 0em; }
div.nonumber + p { text-indent: 0em; }

/* PARAGRAPH INDENT RULES: USED WITH MACROS IN config.md */
div.noindent + p { text-indent: 0em; }
div.indent + p { text-indent: 1em; }

/* A HACK WHICH KILLS EMPTY PARAGRAPHS */
p:empty{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* ==================================================================
    HYPERREFS AND FOOTNOTES
================================================================== */

.franklin-content .eqref a {
  color: green;
}
.franklin-content .bibref a {
  color: green;
}

.franklin-content sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

.franklin-content table.fndef {
  margin: 0;
  margin-bottom: 10px;
}

.franklin-content .fndef tr,
td {
  padding: 0;
  border: 0;
  text-align: left;
}

.franklin-content .fndef tr {
  border-left: 2px solid lightgray;
}

.franklin-content .fndef td.fndef-backref {
  vertical-align: top;
  font-size: 70%;
  padding-left: 5px;
}

.franklin-content .fndef td.fndef-content {
  font-size: 80%;
  padding-left: 10px;
  width: 100%;
}

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

.franklin-content img {
  width: 70%;
  text-align: center;
  padding-left: 10%;
}

.franklin-content .img-small img {
  width: 50%;
  text-align: center;
  padding-left: 20%;
}

.franklin-content .inline {
  display: inline-block;
}

.franklin-content .landing {
  display: inline-block;
}
.franklin-content .landing img {
  all: unset;
  float: left;
  padding-right: 10px;
  text-align: right;
  height: 245px;
}

/* ==================================================================
    KATEX
================================================================== */

body {
  counter-reset: eqnum;
}

.katex {
  font-size: 1em !important;
}

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;

  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}

.katex-display::after {
  counter-increment: eqnum;
  content: '(' counter(eqnum) ')';
  position: relative;
  float: right;
  padding-right: 5px;
}

.nonumber .katex-display::after {
  counter-increment: nothing;
  content: '';
}

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

code {
  background-color: var(--background-color);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: var(--small);
}

.hljs {
  font-size: var(--small);
  line-height: 1.35em;
  border-radius: 10px;
}

.hljs-meta {
  font-weight: bold;
}

.hljs-meta.shell_ {
  color: crimson;
}
.hljs-meta.prompt_ {
  color: rgb(25, 179, 51);
}

.code-output {
  background: var(--output-background);
  border: 1px dashed #dbdbdb;
}

/* ==================================================================
    QUALITY OF LIFE
================================================================== */
.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  \text-align: left;
}

/* ==================================================================
    BOXES
================================================================== */

.box1 {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.box2 {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px 10px 10px 5px;
}

.box3 {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px 0px 5px 0px;
}

.border1 {
  border-left: 5px solid;
}

.blue-body {
  background-color: var(--blue-body);
  border-color: var(--blue-highlight);
}
.blue-head {
  background-color: var(--blue-head);
  border-color: var(--blue-highlight);
}
.red-body {
  background-color: var(--red-body);
  border-color: var(--red-highlight);
}
.green-body {
  background-color: var(--green-body);
  border-color: var(--green-highlight);
}
.gray-body {
  background-color: var(--gray-body);
  border-color: var(--gray-highlight);
}

details {
}
details > summary {
    cursor: pointer;
}
details > summary.box {
    list-style: none;
}
details > summary.box::-webkit-details-marker {
    display: none;
}
details[open] > summary > .blue-body {
    background-color: lch(from var(--blue-body) calc(l * 0.95) calc(c * 1.5) calc(h * 1) );
}
details[open] > summary > .blue-head {
    background-color: lch(from var(--blue-head) calc(l / 1.05) calc(c * 2) calc(h * 1) );
}
details[open] > summary > .red-body {
    background-color: lch(from var(--red-body) calc(l * 0.95) calc(c * 1) calc(h * 1) );
}
details[open] > summary > .green-body {
    background-color: lch(from var(--green-body) calc(l * 0.95) calc(c * 1) calc(h * 1) );
}
details[open] > summary > .gray-body {
    background-color: lch(from var(--gray-body) calc(l * 0.95) calc(c * 1) calc(h * 1) );
}

/* LEGACY BOXES FOR BACKWARDS COMPATIBILITY */
.colbox-blue {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px 10px 10px 5px;
  background-color: #eef3f5;
  border-left: 5px solid #4c9cf1;
}

.colbox-red {
  background-color: #ffe6e6;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px 10px 10px 5px;
  border-left: 5px solid #ff4d4d;
}

/* ===============================================================
    BLOCKS
=============================================================== */

.lineblock {
  margin-left: 0.25em;
  border-left: 2px solid gray;
  padding-left: 1em;
}

.indentblock {
  padding-left: 1em;
  padding-right: 1em;
}

/* use these for a multi-paragraph div where only the first line is to be indented */
.revindentblock {
  margin-left: 2em;
}

.revindentblock > p:first-child {
  text-indent: -2em;
}

/* use this to indent the first line of a single paragraph or of every paragraph in the environment */
.revindentparagraph {
  margin-left: 2em;
  text-indent: -2em;
}

/* ===============================================================
    SPECIAL SECTION SEPARATORS, CUSTOM <hr> 
=============================================================== */

div.gradient {
  --light-heading-color: rgba(41, 49, 61, 0.8);
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--light-heading-color),
    rgba(0, 0, 0, 0)
  );
  color: var(--light-heading-color);
  overflow: visible;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

div.tempgradient {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
  text-align: center;
}

.fancytext {
  all: unset;
  position: relative;
  top: -13px;
  text-align: center;
  background: var(--background-color);
  font-size: 1em;
  font-family: 'Snell Roundhand', cursive;
  font-weight: bold;
  padding: 0 15px;
}
